[flake8]
max-line-length = 120
exclude = .git,__pycache__,__init__.py,.mypy_cache,.pytest_cache,venv,.venv,build,dist,node_modules,web/dist,.*
# Ignored because it conflicts with black
extend-ignore = E203
